<h1>All orders</h1>
<ul>

</br>
<p>Filter by:</p>
<%= link_to "delivered", orders_path(:sort => true) %>
</br>
<%= link_to "pending", orders_path(:sort => false) %>
</br>
<%= link_to "all", orders_path %>
</br>
</br>

  <% @orders.each do |order| %>

  	<%= render order %>
  	<%= link_to 'Edit', edit_order_path(order) %>
  <% end %>
</ul>
